@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #e8720d;
    --primary-dark: #723a08;
    --shades: #381a01;
    --accent-color: #ff9500;
    --secondary-color: #eec249;
    --secondary-accent: #31280e;
    --text-color: #fff;
    --text-color-2: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monserrat', sans-serif;
}